/**
 * @author Ayman Abu Awad
 */
.hbox {
    -fx-background-color: #CCCCCC;

}
.pane {
    -fx-background-color: #8fbc8f;
}

.vbox {
    -fx-border-color: #2e8b57;
}

.close-btn{
    -fx-background-color: transparent;
}
.close-btn:hover{
    -fx-background-color: #E81123;
}

.min-btn{
    -fx-background-color: transparent;
}
.min-btn:hover{
    -fx-background-color: #7F7F7F;
}