.label{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #0A0A0A;
    -fx-text-alignment: center;
    -fx-font-weight: 900;
    -fx-font-size: large;

}

.label:hover{
    -fx-background-color: #00C853;
}

#mainPanel{
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-font-weight: bolder;
    -fx-font-alignment:CENTER;
    -fx-hpos:right;
    -fx-legend-side:right;
    -fx-title-side:right;
    -fx-alignment: CENTER;
    -fx-text-fill: red;
    align-self: center;
    -fx-min-height: 30 ;
    -fx-gridLinesVisible: ture;
}

