/**
 * @author Ayman Abu Awad
 * Kamal Ali (added text-field styling)
 */

.label{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #0A0A0A;
    -fx-text-alignment: center;
    -fx-font-weight: 900;
    -fx-font-size: 24px;

}

.label:hover{
    -fx-background-color: #00C853;
}


.text-field{
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-padding: 0px;
    -fx-max-width: 70;
}

.mainPanel{
    -fx-text-alignment: CENTER;
    -fx-font-alignment: CENTER;
    -fx-legend-side: right;
    -fx-title-side: right;
    -fx-alignment: CENTER;
    -fx-gridLinesVisible: true;
}

