.label{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #0A0A0A;
    -fx-text-alignment: center;
    -fx-font-weight: 900;
    -fx-font-size: large;

}

.label:hover{
    -fx-background-color: #00C853;
}


.grid{
    -fx-background-color: black;
    -fx-grid-lines-visible: true;
    -fx-border-width:2px;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
    -fx-grid-lines-visible: true;
}
.grid{
    -fx-background-color: black;
    -fx-grid-lines-visible: true;
    -fx-border-width:2px;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
    -fx-grid-lines-visible: true;
}

.GridPane{
    -fx-background-color: black;
    -fx-grid-lines-visible: true;
    -fx-border-width:2px;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
    -fx-grid-lines-visible: true;
}
